<div id="app-invite">
    <div id="inviteHeader" class="inviteHeader">Invite friends!</div>
    <div id="inviteText" class="inviteText">Send a link or share points to your friends and get bonuses</div>
    <div class="inviteContainer" [style.height]="calcContainerHeight('app-invite', 'inviteHeader', 'inviteText')">
        <div class="bonusContainer">
            <div class="inviteText">Bonuses</div>
            <div class="inviteSubText">10% from friends + 2% from their referrals</div>
            <div class="claimBox">
                <img src="assets/icons/candy-icon.svg">
                <div class="claimCount">&nbsp;+150</div>
            </div>
            <div class="inviteButton">Claim</div>
        </div>
        <div class="invitedFriends">
            <div class="invitedListTitle">
                <div>Your friends</div>
                <div>3 invites left</div>
            </div>
            <div class="invitedListBody" *ngFor="let item of friendList">
                <div>{{item.username}}</div>
                <div>{{item.balance}}</div>
            </div>
        </div>
        <div class="inviteButtons">
            <div class="inviteButton">
                <img src="assets/icons/invite-icon.svg" alt="">&nbsp;Invite friend
            </div>
            <div [ngClass]="{'inviteButton': !isCopied, 'inviteButtonCopied': isCopied }" (click)="copyRefLink()">
                <span *ngIf="!isCopied"><img src="assets/icons/copy-icon.svg" alt="">&nbsp;Copy link</span>
                <span *ngIf="isCopied">
                    <img src="assets/icons/check-button.svg">&nbsp;Copied
                </span>
            </div>
        </div>
    </div>
</div>