<div id="app-swipe" class="swipe-box">
    <div id="totalHeader">Total swipes</div>
    <div id="swipeCounter">{{swipeCounter}}</div>
    <div id="options">
        <div *ngIf="isX5Boost"><img src="assets/boost-icons/X3-boost.svg"></div>
        <!-- <div *ngIf=""><img src="assets/boost-icons/recharging-boost.svg"></div> -->
        <div *ngIf="isAutoswipe"><img src="assets/boost-icons/autoswipe-boost.svg"></div>
    </div>
    <div #cutBox id="cutBox"></div>
    <div id="energy">
        <app-progress-bar [label]="'Energy'" [width]="'65'" [value]="energyValue">
        </app-progress-bar>
    </div>

</div>