<!-- <notifier-container></notifier-container> -->
<div id="app-earn">
    <div id="earnHeader" class="earnHeader">More</div>
    <div id="earnText" class="earnText">Complete tasks and get extra swipes every day!</div>
    <div class="earnScrollContainer" [style.height]="calcContainerHeight('app-earn', 'earnHeader', 'earnText')">
        <div class="earnBonusContainer">
            <div class="earnText">Your wallet</div>
            <div class="earnSubText">This wallet will be used to get rewards and airdrop in the future</div>
            <div class="earnScoreBox">
                <img src="assets/icons/candy-icon.svg">
                <div class="earnScore">&nbsp;{{swipeCounter}}</div>
            </div>
            <div class="evmAddressContainer">
                <div class="evmAddress">{{evmAddress}}</div>
                <div [ngClass]="{'earnButton': !isAddressCopied, 'earnButtonCopied': isAddressCopied }"
                    (click)="copyEvmAddress()">
                    <img *ngIf="!isAddressCopied" src="assets/icons/copy-icon.svg">
                    <img *ngIf="isAddressCopied" src="assets/icons/check-button.svg">
                </div>
            </div>
        </div>
        <div class="earnBonusContainer">
            <div class="earnText">Daily reward</div>
            <div class="earnSubText">Log in to the game every day and increase your daily reward!</div>
            <div class="daylyRewardContainer">
                <div class="claimDayCount">Day {{dailyTask.loginStreak}}</div>
                <div class="claimBox">
                    <img src="assets/icons/candy-icon.svg">
                    <div class="claimCount">&nbsp;+{{dailyTask.reward}}</div>
                </div>
            </div>
            <div *ngIf="dailyTask.isAvailable && !isLoader[dailyTask.type]" 
                (click)="completeTask(dailyTask.type)" class="earnButton">Claim</div>
            <div *ngIf="isLoader[dailyTask.type]" class="earnCompletedButton">
                <div class="loader"></div>
            </div>
            <div *ngIf="!dailyTask.isAvailable && !isLoader[dailyTask.type]" class="earnCompletedButton">
                <img src="assets/icons/check-button.svg">&nbsp;Claimed
            </div>
        </div>
        <div class="taskListContainer">
            <div class="taskContainer" *ngFor="let task of taskList">
                <div class="taskIcon">
                    <img [src]="task.icon">
                </div>
                <div class="taskDescriptionContainer">
                    <div class="taskDescription">
                        <div class="earnText">{{task.text}}</div>
                        <div class="taskRewardBox">
                            <img src="assets/icons/candy-icon.svg">
                            <div class="taskReward">&nbsp;+{{task.reward}}</div>
                        </div>
                    </div>
                    <div *ngIf="!task.isClaimed && !isLoader[task.type]" (click)="completeTask(task.type)"
                        [ngClass]="{'earnButton': !task.isCompleted, 'taskCompletedButton': task.isCompleted && !task.isClaimed}">
                        <span *ngIf="!task.isCompleted">Follow</span>
                        <span *ngIf="task.isCompleted && !task.isClaimed" class="claimCount">+ Claim</span>
                    </div>
                    <div *ngIf="isLoader[task.type]" class="taskCompletedButton">
                        <div class="loader"></div>
                    </div>
                    <div *ngIf="task.isClaimed && !isLoader[task.type]" class="taskCompletedButton">
                        <img src="assets/icons/check-button.svg">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>