<app-preloader></app-preloader>
<div id="app" class="swipe-box">
    <div style="font-size: 40px; background-color: white; padding: 10px">
        Swipe here
    </div>
    <!-- <div>
        <div #gifElems id="gifElems" class="freezeframe" class="gif-box">
            <img style="width: 100%;" [ngClass]="isUp? 'display-block' : 'display-none'"
                src="https://jankemy.github.io/tgMiniAppHtml/assets/swipe-gifs/cat_up.gif" />
    
            <img style="width: 100%;" [ngClass]="isDown? 'display-block' : 'display-none'"
                src="https://jankemy.github.io/tgMiniAppHtml/assets/swipe-gifs/cat_down.gif" />
        </div>
    </div> -->
    <div>
        <div class="gif-box">
            <img style="width: 100%;" [ngClass]="isStartedGif ? 'display-none' : 'display-block'"
                src="../assets/swipe-gifs/cat_plug.png" />

            <img style="width: 100%;" [ngClass]="isStartedGif && isUp ? 'display-block' : 'display-none'"
                src="https://jankemy.github.io/tgMiniAppHtml/assets/swipe-gifs/cat_up.gif" />
    
            <img style="width: 100%;" [ngClass]="isStartedGif && isDown ? 'display-block' : 'display-none'"
                src="https://jankemy.github.io/tgMiniAppHtml/assets/swipe-gifs/cat_down.gif" />
        </div>
    </div>
    <div id="swipeCounter" style="background-color: white;font-size: 100px">0</div>
    <div id="message"></div>
</div>