.display-block {
    display: block;
}

.display-none {
    display: none;
}

#app-components{
    height: calc(100% - 126px);
}

#message{
    color: white;
    height: 126px;
    border-top: 1px solid #865FFE;
    border-radius: 30px;
}

#message>div{
    display: inline-block;
    padding: 20px;
    font-size: 10px;
}

.active-color{
    color: #865FFE;
}