<div class="tokenSendContainer">
    <div class="tokenText">Available balance</div>
    <div class="tokenBalance">123890</div>
    <div class="tokenUsernameInput">
        <input type="text">
    </div>
    <div class="tokenSumInput">
        <input type="number">
        <div class="tokenSelectAllBtn">Select all</div>
    </div>
    <div class="tokenButtons">
        <div class="tokenCancelBtn">Cancel</div>
        <div class="tokenSendBtn">
            <span>Send swipes</span>
            <img src="assets/icons/double-arrow-right.svg">
        </div>
    </div>
</div>